*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html, body {
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
body{
    background-color: #330055;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%2336065d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23380d64' cx='50' cy='100' r='50'/%3E%3Cg fill='%233b136c' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%233d1a74' cx='50' cy='200' r='50'/%3E%3Cg fill='%233f1f7c' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23412584' cx='50' cy='300' r='50'/%3E%3Cg fill='%23422b8d' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23433195' cx='50' cy='400' r='50'/%3E%3Cg fill='%2344369e' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23443ca6' cx='50' cy='500' r='50'/%3E%3Cg fill='%234442af' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%234348b8' cx='50' cy='600' r='50'/%3E%3Cg fill='%23424ec0' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%234054c9' cx='50' cy='700' r='50'/%3E%3Cg fill='%233d5ad2' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%233a60db' cx='50' cy='800' r='50'/%3E%3Cg fill='%233566e4' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%232f6ced' cx='50' cy='900' r='50'/%3E%3Cg fill='%232673f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%231779ff' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}

/*HEADER'S STYLE*/

.banner{
    height: 100vh;
}

.nav{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    width: 100%;
}

.logo{
    padding: 20px 50px;
}

.logo img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-left: 20%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.banner video{
    position:absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.content{
    position: relative;
    z-index: 1; 
    margin: 0 auto;
    text-align: center;
    top: 10%;
}

.content h1{
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
}

.content a{
    display: inline-block;
    font-size: 20px;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
    border-radius: 200px;
}

.content a:hover{
    color: #03a9f4;
    letter-spacing: 3px;
}

/* SECOND CONTAINER */

.second h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
}
.second h1, h2, h3, p{
    color: white;
}
.post h3{
    color: white;
}
.second{
    height: 100vh;
    margin: 80px 0;
}
.second h2 {
    font-size: 180%;    
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
}

.second h2:nth-child(1){
    margin-top: 20px;
}
.second h2:nth-child(2){
    margin: 20px 0;
}
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.content h3 {
    margin-bottom: 15px;
    margin-top: -20px;
    font-weight: 350;
    position: relative;
    font-size: 22px;
    letter-spacing: 1px;
}

.content p{
    font-size: 1em;
    font-weight: 300;
}

.posts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.post{
    position: relative;
    width: 300px;
    height: 400px;
    background: #0c002b; 
    margin: 30px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.posts .post .content{
    padding: 30px;
    text-align: center;
}

.post span{
    transition: 0.5;
    opacity: 0.3;
}

.post:hover span{
    opacity: 1;
}

.post span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: linear-gradient(to right, transparent, #1779ff);
    animation: animate1 2s linear infinite;
}

@keyframes animate1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

.post span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #1779ff);
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}

.post span:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background: linear-gradient(to left, transparent, #1779ff);
    animation: animate3 2s linear infinite;
}

@keyframes animate3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.post span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 100%;
    background: linear-gradient(to top, transparent, #1779ff);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}


.post img{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: white;
}

/* THIRD CONTAINER */

.third-container{
    position: relative;
    display: flex;
    max-width: 800px;
    left: 20%;
    padding: 25px 0;
    
  }
  
  .location{
    border: 2px solid black;
    max-width: 400px;
    height: 600px;
    padding: 0 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ba212a;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='56.7' stroke-opacity='0.19' %3E%3Ccircle fill='%23ba212a' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23bb212a' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23bd212b' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23be222b' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23c0222b' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23c1222b' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23c2222c' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23c4232c' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23c5232c' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23c7232d' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23c8232d' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23c9242d' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23cb242e' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23cc242e' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23ce242e' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23cf252e' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23d1252f' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23d2252f' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }
  
  .location h1{
    padding: 10px 0;
    font-size: 40px;
    color:#fcf2f2;
    text-transform: uppercase;
  }
  .location h2{
    padding: 30px 0;
    font-size: 20px;
    color:#fcf2f2;
  }
  .location a{
    position: relative;
    display: inline-block;
    font-size: 20px;
    background: #d2252f;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color:#fcf2f2;
    letter-spacing: 2px;
    transition: 0.2s;
    border-radius: 200px;
    width: 50%;
    left: 22%;
    border: 3px solid white;
  }
  
  .location a:hover{
    color: #005f83;
    background-color: white;
  }
  
  .slider{
      position: relative;
      padding: 0 2px;
      max-width: 400px;
      height: 600px;
     
  }
  
  .slider img{
      height:600px ;
      width:400px ;
      border: 2px solid black;
  }
  
  .slider-item, .hidden{
      display: none;
  }
  
  .visible{
      display: block;
      transition: 0.5;
  }
  
  .slider-buttons{
      display: flex;
      position: absolute; 
      left: 72%;
      top: 90%;
      width: 100%;
  }
  .slider-buttons button{
      margin: 0 3px;
      height: 50px;
      width: 50px;
      border-radius: 20%;
      border-style: none;
      border: 1px solid black;
      cursor: pointer;
      background-color: lightgray;
      font-size: 25px;
      font-weight: 700;
  }
  .slider-buttons button:hover{
      background-color:  #999;
      cursor: pointer;
  }